.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin: 100px;
    padding: 2px;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    background-color: antiquewhite;
}

.tooltip .tooltip-text {
    position: absolute;
    display: none;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    display: inline-block;
}